.drop-table-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.drop-table-holder table {
  border: 1px black solid;
  border-collapse: collapse;
}

.drop-table-holder th,
.drop-table-holder td {
  border: 1px black solid;
}
