.variable-holder {
  margin: 0.5rem;
  padding: 0.25rem;
  width: 100px;
  max-width: 100px;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  border: 1px black solid;
}

.variable-holder.being-dragged {
  opacity: 0.5;
}
